__pycache__/
*.py[cod]
*$py.class

/dist/
/build/
/*.egg-info/
/sdist/
/wheels/
/pip-wheel-metadata/

venv/
env/
.venv/
../.env/
ENV/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.log
logs/
*.log.*

model_cache/

../.env